
body {
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ; /* Ajustez la position pour centrer verticalement et aligner en haut */
    height: 150vh; /* Utilisez 100vh pour prendre 100% de la hauteur de la fenêtre */
    margin: 0; /* Assurez-vous qu'il n'y a pas de marges autour du body */
  }

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 600;
    color: #FF00FF;
    border-bottom-color: currentcolor;
}
.nav-underline .nav-link, .nav-underline .show>.nav-link {
    color: #000;
}
.nav-underline .nav-link:hover, .nav-underline .show>.nav-link:hover {
    border-bottom-color: currentcolor;
}
#listMusic a {
    color: #090909; /* ou la couleur que vous préférez */
    text-decoration: none; /* supprime le soulignement des liens */
}

#listMusic.with-overflow {
    background-color: rgba(255, 255, 255, 0.4); /* Changez le dernier nombre (0.8) pour ajuster l'opacité */
    padding: 100px; /* Ajoutez un remplissage pour améliorer la lisibilité et déplacer les points à l'intérieur */
    border-radius: 10px; /* Ajoutez un rayon de bord pour des coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ajoutez une ombre avec une couleur et une opacité spécifiées */
}
